{% include header.html  %}
	<div class="main">
		<div class="postbox radius">
            <h2 class="first_title">{{ page.title  }}</h2>
            <p class="posted_info">
                posted by dariusdong on {{ page.date | date:"%Y-%m-%d"  }} 分类: <a href="{{ site:url }}/categorys/{{ page.category }}.html">{{ page.category }}</a>
            </p>
            <div class="postcontent">
			{{ content}}
            </div>
            
    		<div class="likepost">
    			<h2>相关日志</h2>
    			<ul>
    				{% for v in site.categories[page.category] limit:5  %}
    				<li><a href="{{ site:url  }}{{ v.url  }}">{{ v.title  }}</a></li>
    				{% endfor  %}
    			</ul>
    		</div>
        <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1850163"></script>
        <!-- UY END -->
	</div>
{% include footer.html  %}
